.contactApp {
  width: 300px;
  margin: 0 auto;
}

.contactApp > *{
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 5px;
}

.contactData {
  padding-top: 5px;
  height: 40px;
}

li img{
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}